.slider-container {
  width: 90%;
  max-width: 800px;
  margin: 50px auto;
}

.slider-image {
  width: 100%;
  height: 500px;
  border-radius: 16px;
  object-fit: cover;
  box-shadow: 0 8px 25px rgba(0,0,0,0.4);
}
